body {
  margin: 0;
  padding: 0;
  background-color: #e3edfa;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
}

code {
  font-family: Roboto, sans-serif;
}

p{
  margin: 0;
  padding: 0;
}

.login-form-button {
  width: 100%;
}